### Destinations
[destination]

# local postgres
postgres.credentials="postgresql://loader:loader@localhost:5432/dlt_data"
# redshift - mind the password!
redshift.credentials = "postgresql://loader:<set me up>@3.73.90.3:5439/chat_analytics_rasa_ci"

# bigquery
[destination.bigquery.credentials]
client_email = "chat-analytics-loader@chat-analytics-rasa-ci.iam.gserviceaccount.com"
private_key = "set me up"  # set the private key
project_id = "chat-analytics-rasa-ci"
location = "US"


### Sources
[sources]

## chess pipeline
# the section below defines secrets for "chess_dlt_config_example" source in chess/__init__.py
[sources.chess]
secret_str="secret string"  # a string secret

# a dictionary/complex secret
[sources.chess.secret_dict]
secret_key="key string"
key_index=1

## google sheets pipeline
[sources.google_sheets.credentials]
project_id=""
client_email=""
private_key = ""

[sources.pipedrive]
pipedrive_api_key="set me up!"

# Example database for source in sql_database/source.py
[sources.sql_database]
database_url = "postgresql://my_user:my_password@localhost:5439/my_database"

[sources.hubspot]
api_key="set me up!"

