### Destinations
[destination]

# local postgres
postgres.credentials="postgresql://loader:loader@localhost:5432/dlt_data"
# redshift - mind the password!
redshift.credentials = "postgresql://loader:<set me up>@3.73.90.3:5439/chat_analytics_rasa_ci"

# bigquery
[destination.bigquery.credentials]
client_email = "chat-analytics-loader@chat-analytics-rasa-ci.iam.gserviceaccount.com"
private_key = "set me up"  # set the private key
project_id = "chat-analytics-rasa-ci"
location = "US"


### Sources
[sources]

[sources.strapi]
api_secret_key = "secret_string"
domain = "my-strapi.up.railway.app"

## chess pipeline
# the section below defines secrets for "chess_dlt_config_example" source in chess/__init__.py
[sources.chess]
secret_str="secret string"  # a string secret

# a dictionary/complex secret
[sources.chess.secret_dict]
secret_key="key string"
key_index=1

# google analytics, the client email is the email of the service account.
# Service account authenticaton requires: project_id, client_email and private_key
# OAuth authentication requires: client_id, client_secret and refresh_token (project_id is only required for the setup script)
[sources.google_analytics.credentials]
client_id = ""
client_secret = ""
refresh_token = ""
project_id = ""
client_email = ""
private_key = ""

## google sheets pipeline
[sources.google_sheets.credentials]
project_id=""
client_email=""
private_key = ""

[sources.matomo]
api_token = ""

[sources.pipedrive]
pipedrive_api_key="set me up!"

# Example database for source in sql_database/source.py
[sources.sql_database]
database_url = "postgresql://my_user:my_password@localhost:5439/my_database"

# not all these credentials are needed, you can choose between
# email + password
# email + token + subdomain
# oauth_token - guide on how to: https://support.zendesk.com/hc/en-us/articles/4408845965210-Using-OAuth-authentication-with-your-application
[sources.zendesk.zendesk_support.credentials]
password = ""
subdomain = ""
token = ""
email = ""
oauth_token = ""

# zendesk chat has different credentials
[sources.zendesk.zendesk_chat.credentials]
subdomain = ""
oauth_token = ""

# Talk has the same options as zendesk support, this just gives the ability to declare a different set of credentials for talk
[sources.zendesk.zendesk_talk.credentials]
password = ""
subdomain = ""
token = ""
email = ""
oauth_token = ""

[sources.hubspot]
api_key="set me up!"

# Github access token (must be classic for reactions source)
[sources.github]
access_token=""

[sources.asana_dlt]
access_token=""

[sources.shopify_dlt]
access_token=""

[source.workable]
access_token=""
